#main {
    margin: 0;
    padding: 20px;
    clear: both;
    min-height: 600px;
}

#title-heading {
    margin: 0;
    padding: 0;
    width: auto;
}

#content {
    /* Override aui-page-layout.css */
    position: static !important;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
}


li > ul,
li > ol,
ul > ul,
ol > ol {
    margin-top: 0;
}

ul {
    list-style-type: disc;
}


h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25; /* 30px equiv line-height */
    margin: 30px 0 0 0;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5; /* 30px equiv line-height */
    margin: 30px 0 0 0;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5; /* 24px equiv line-height */
    margin: 30px 0 0 0;
}

h4 {
    font-size: 14px;
    line-height: 1.42857142857143; /* 20px equiv line-height */
    margin: 20px 0 0 0;
}

h5 {
    color: #5E6C84;
    font-size: 14px;
    line-height: 1.66666666666667;
    margin: 20px 0 0 0;
    text-transform: uppercase;
 text-transform: none;
}

h6 {
    color: #5E6C84;
    font-size: 12px;
    line-height: 1.66666666666667;
    margin: 20px 0 0 0;
 text-transform: none;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
    margin-top: 10px;
}

h1 + h1,
h2 + h2,
h3 + h3,
h4 + h4,
h5 + h5,
h6 + h6 {
    margin-top: 10px;
}


img {
    -ms-interpolation-mode: bicubic;
}

#breadcrumbs {
    overflow: hidden;
    text-overflow: ellipsis;
}

    #breadcrumbs li {
        white-space: nowrap;
    }

    * html #breadcrumbs li {
        background-image: url(../../../images/decoration/white_breadcrumbs_indicator.gif); /* IE6 */
    }

* html .page-metadata {
    height: 1.2em; /* IE6 */
}

#breadcrumbs li {
    background-position: 3px 12px;
}



h1, h2, h3, h4,
.wiki-content h1,
.wiki-content h2,
.wiki-content h3,
.wiki-content h4,
.pagetitle,
.steptitle,
.substeptitle,
.formtitle,
table.confluenceTable td.confluenceTd.highlight,
table.confluenceTable td.confluenceTd.highlight > p,
table.confluenceTable th.confluenceTh,
table.confluenceTable th.confluenceTh > p,
.wiki-content .tablesorter-header-inner,
table.admin th,
.form-element-large,
.form-element-small,
#toolbar #format-dropdown .format-h1 a,
#toolbar #format-dropdown .format-h2 a,
#toolbar #format-dropdown .format-h3 a,
#toolbar #format-dropdown .format-h4 a {
    color: #000033;
}

h5, h6,
.wiki-content h5,
.wiki-content h6,
#toolbar #format-dropdown .format-h5 a,
#toolbar #format-dropdown .format-h6 a {
    color: #5E6C84;
}


a,
a:visited,
a:focus,
a:hover,
a:active,
a.blogHeading {
    color: #0B1422;
}



/* PDL default-theme.less */
#breadcrumbs {
    padding: 0;
    margin: 0;
    font-size: 0;
}

#breadcrumbs li {
    display: inline-block;
    font-size: 14px;
    color: @charcoal;
}

    #breadcrumbs li:before {
        content: "/";
        display: inline-block;
        padding: 0 2px 0 6px;
    }

    #breadcrumbs li:first-child:before {
        display: none;
    }
